# carbon upstart script
# controls the carbon process
description "control the carbon process"

start on runlevel [2345]
stop on runlevel [!2345]

expect daemon

env GRAPHITE_ROOT=/srv/graphite/live/
export GRAPHITE_ROOT

exec /srv/graphite/live/virtualenv/bin/carbon-cache.py start

respawn

respawn limit 10 5
